header {
  background: #2980b9;
  padding: 10px 0px;
}

.banner {
  background: url('/assets/lobby-header.jpg') no-repeat fixed;
  background-size: 100% 50%;
  text-align: center;
  padding: 30px 0px 30px 500px;
}

.banner h1 {
  font-size: 90px;
}

.toolbar {
  background-color: #2980b9;
  color: white;
  font-size: 1.5em;
  justify-content: space-around;
}

.menuitem {
  padding: 50px 0px;
}

.menuitem a {
  text-decoration: none;
}

.menuitem a:visited {
  color: white;
}
