<section class="intro">
  <div class="description">
    Do you have a business process that would be more efficient if you had a mobile friendly web application to facilitate the business process?
  </div>
  <div class="description">
    We are here to help you with that.
  </div>
  <div class="description">
    We specialize in understanding your Business Process and implementing web application solutions to make them more efficient.
  </div>
  <div class="description2">
    Have a look at the services we offer and review our <a routerLink="/portfolio">portfolio</a> for examples of previous applications that we have built.
  </div>
</section>



