<section class="links">
  <div class="content-wrap">

    <h2>
      Here are some links to coding resources:
    </h2>
    <a href='https://ccsudbury.slack.com/shared_invite/MTgyNDgzOTc0MjU3LTE0OTQ2MzE0MTQtZDExOTIwYmJmMQ' class="linkbox">
        <img src="assets/slack.webp" alt="Slack icon" height=50px width=50px>
        <span class="linktitle">
          codingCommunity Sudbury Slack Group
        </span>
        <br>
        Join the codingCommunity Sudbury Slack group to discuss various coding topics and get help from others in the community.
    </a>
    <br>

  </div>
</section>
