<section class="portfolioSection">
  <h1>A sample of web applications created by us:</h1>

  <h2>Manage Training Completions</h2>
  <p>This application allows administrative users to edit details of training completion entries in the database.</p>
  <ul>
    <li>login</li>
    <li>form to enter search criteria</li>
    <li>displays entries matching the filter criteria with buttons to edit data or delete entry</li>
    <li>modal dialog to modify entry data</li>
  </ul>
  <div class="photos">
    <div class="photo">
      <img src="/assets/portfolio/mtc01.jpg">
    </div>
    <div class="photo">
      <img src="/assets/portfolio/mtc02.jpg">
    </div>
    <div class="photo">
      <img src="/assets/portfolio/mtc03.jpg">
    </div>
    <div class="photo">
      <img src="/assets/portfolio/mtc04.jpg">
    </div>
    <div class="photo">
      <img src="/assets/portfolio/mtc05.jpg">
    </div>
  </div>

  <h2>Training Check</h2>
  <p>This application allows individuals to check the training completions for a given individual. Data is live from the database and can be used anywhere to check qualifications in real-time.</p>
  <ul>
    <li>different user types</li>
    <li>form to enter search criteria</li>
    <li>displays individuals that meet search criteria</li>
    <li>clicking on an individual lists training details</li>
  </ul>
  <div class="photos">
    <div class="photo">
      <img src="/assets/portfolio/tc01.jpg">
    </div>
    <div class="photo">
      <img src="/assets/portfolio/tc02.jpg">
    </div>
    <div class="photo">
      <img src="/assets/portfolio/tc03.jpg">
    </div>
    <div class="photo">
      <img src="/assets/portfolio/tc04.jpg">
    </div>
  </div>
</section>
